<!DOCTYPE html>
<html>
<title>Argali - Aaron Honour</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->


<!-- Header -->

<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
      <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/blog" class="w3-bar-item w3-button">Articles</a>
      <a href="/argali" class="w3-bar-item w3-button">Argali</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
<div class="w3-content" style="max-width:1500px">
    <br>
    <br>
  <h1>About</h1>

<p>Data is one of the most valuable commodities in the world. As data increases in value it is important that individuals are able to access free analytical tools that are clear and easy to use. This site focuses on providing a clear data analytics framework tool through the python library Argali. All of the articles and research found on this site can be downloaded and distributed freely. Summary reports are included on the site to ensure that there is a robust uniform analysis that is void of bias that everyone is able to access. In addition there are articles that provide wider context and meaning to the data.</p>
    <br>
      </div>
  </div>
</header>